{% extends 'base2.html' %}{% load static from static %} {% block content %}
<style>
img { 
	transition: all .1s ease-in-out; 
}
img:hover { 
    padding-top: 15px; 
    	transform: scale(5.0); 
    }
</style>
<main class="p-3">
                    
                        <h1 class="mt-4">Vendor Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active"> Dashboard</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-primary text-white mb-4">
                                    <div class="card-body">Contractor Details</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'tycoonConstruction:contractor_details' %}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">Vendor Details</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="{% url 'tycoonConstruction:vendor_details' %}">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">Success Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">Danger Card</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="small text-white stretched-link" href="#">View Details</a>
                                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
<h1>Contractor Details</h1>

<div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Registered Contractors
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Contact No.</th>
                                            <th>Recent Client #</th>
                                            <th>Description</th>
                                            <th>Experience</th>
                                            <th>Project Ongoing</th>
                                            <th>Clients</th>
                                            <th>Rating</th>
                                            <th>Prjects Done</th>
                                            <th>Image</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for i in contractor %}
                                        <tr>
                                            
                                            <th>{{i.user.id}}</th>
                                            <th>{{i.user.username}}</th>
                                            <th><a href = "mailto:{{i.contractor_email}}">{{i.contractor_email}}</a></th>
                                            <th>{{i.contractor_address}}</th>
                                            <th><a href = "tel:{{i.contractor_contact}}">+92-{{i.contractor_contact}}</a></th>
                                            <th><a href = "tel:{{i.contact_number_of_previous_client}}">+92-{{i.contact_number_of_previous_client}}</a></th>
                                            <th>{{i.contractor_description}}</th>
                                            <th>{{i.year_of_experience}} Years</th>
                                            <th style="color: green;">{{i.project_ongoing}}</th>
                                            <th>{{i.number_of_successful_clients}}</th>
                                            <th>{{i.rating}}</th>
                                            <th style="color: red;">{{i.projects_completed}} </th>
                                            <th><img class=".thumbnail" src="/media/{{i.contractor_Img}}" width="50px" height="50" ></th>
                                            <th><a href="{% url 'tycoonConstruction:vtoc_request' %}" class="btn btn-primary small">Send Request</a></th>
                                        
                                        </tr>
                                        {% endfor %}

                                        {% if user.is_vendor %}
                                        {{user.username}}
                                        {% endif %}
                                        
                                    </tbody>

                                    <tfooter>
                                        <tr>
                                            <th>ID#</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Address</th>
                                            <th>Contact No.</th>
                                            <th>Recent Client #</th>
                                            <th>Description</th>
                                            <th>Experience</th>
                                            <th>Project Ongoing</th>
                                            <th>Clients</th>
                                            <th>Rating</th>
                                            <th>Prjects Done</th>
                                            <th>Image</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfooter>
                                </table>
                            </div>
                        </div>
                </main>


{% endblock content %}